/**
 * This is the main style sheet for the Neighborly website.
 * Handles colors, special placement.
 * All font, links, font colors and other typography should be placed in the typography file.
 * This site uses the 960 grid system.
 */

/* @group Custom resets */
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.menu li{
  margin: 0;
  padding: 0;
}
#primary-nav ul.menu {
  float: right;
}
#primary-nav ul.menu li{
  float: left;
  margin: 10px;
}
/* @group Page regions */
body {
  background: url(../images/page-background.png) no-repeat center top transparent;
/*   background: url(../images/page-background-alt.png) no-repeat center top transparent; */
  min-height: 480px !important;
}
.page {
  min-height: 480px !important;
}

html {
  background: url(../images/page-background-fill.png) repeat-y center top transparent;

}
/* @group Page Top */
.page-top {

}

.page-header {

}
.messages {
  margin-bottom: 20px;
}
.branding {
  margin-bottom: 20px;
}
.primary-nav {

}
.logo {

}
.title {

}

/* @group Page Main */
.page-main {

}

.content {

}
.main-content {

}
/* @group Sidebars */
.sidebar {

}
/* @group Page Navigation */
#secondary-nav {

}
/* @group Page regions */
.page-footer {

}
.footer-container {

}
.footer-content {

}
.footer {
  border-top: 40px #D1D3D4 solid;
  padding-top: 30px;
/*   background: url(../images/footer.png) repeat-x 0 0 transparent; */
  padding-bottom: 30px;
}
.closure {
  padding-top: 30px;
/*   background: url(../images/footer.png) repeat-x 0 0 transparent; */
  padding-bottom: 30px;
}
/* @accessibility */
.skiplinks {
  display: none;
}